<header class="d-flex align-items-center justify-content-between p-3 bg-primary">
    <div class="d-flex align-items-center">
        <img src="src/public/images/travel_icon.svg" alt="Travel Planner Logo"
            style="height:48px; width:auto; margin-right:16px;">
        <h1 class="mb-0 text-white fs-3">Travel Planner</h1>
    </div>
    <nav>
        <nav aria-label="Main navigation">
            <ul class="nav">
                <li class="nav-item"><a class="nav-link text-white" href="index.html">Home</a></li>
                <li class="nav-item"><a class="nav-link text-white"
                        href="src/search_result/searchResult.html">Search</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="src/Itinerary/itinerary.html">Itinerary</a>
                </li>
                <li class="nav-item"><a class="nav-link text-white" href="#login">Login</a></li>
            </ul>
        </nav>
    </nav>
</header>